<ion-view title="Account Settings" id="register" class="custom_color_header">

<ion-nav-buttons side="left">
    <a ui-sref="sidemenu.home" class="button button-icon icon ion-arrow-left-c"></a>
    </ion-nav-buttons>
    
    <ion-content class="bg" padding="true" class=" manual-remove-top-padding has-header">

                <div class="spacer" style="height: 20px;"></div>

                <label class="item item-input" id="username" style="border-radius: 5px;border: 1px solid #000;">
                    <input ng-model="user.name" type="text" placeholder="Name">
                </label>
           
            <div class="spacer" style="height: 20px;"></div>
            
            <label class="item item-input" id="phone" style="border-radius: 5px;border: 1px solid #000;">
                <input ng-model="user.phone" type="text" placeholder="Phone Number" required>
            </label>

               <div class="spacer" style="height: 20px;"></div>
            
            <div class="text-center">
            <a  id="login_button" align="center" style="padding: 0px 30px;
    font-size: 18px; font-weight:500; background-color:#000;" class="button button-dark" ng-click="updateProfile()" >Update Profile</a></div>

                 <div class="spacer" style="height: 20px;"></div>

                <ion-item  id="changePassword" class="item-icon-right" ng-style="{'line-height': '30px'}" ng-click="changePassword()">
                <i class="icon ion-edit"></i>Change Password</ion-item>
                <ion-item id="deleteAccount" class="item-icon-right" ng-style="{'line-height': '30px'}" ng-click="deleteAccount()">
                <i class="icon ion-trash-b"></i>Delete Account</ion-item>
            
     </ion-content>

     <ion-footer-bar class="custom_color_Menu">
    </ion-footer-bar>
</ion-view>