<ion-view title="Forgot Password" hide-nav-bar="false" id="MyReports">
<ion-nav-buttons side="left">
    <a ng-click = "goBack()" class="button button-icon icon ion-arrow-left-c"></a>
    </ion-nav-buttons>
    <ion-content class="bg" padding="true" class="manual-ios-statusbar">

<div class="spacer" style="height: 80px;"></div>

<form id="forgot_form" name="myForm" novalidate >
            
                <label class="item item-input" id="username" style="border-radius: 5px;border: 1px solid #000;">
                    <input ng-model="user.email" type="email" placeholder="Email Id" required >
                </label>
           
            <div class="spacer" style="height: 40px;"></div>
            
            <div class="text-center">
            <a id="register_button" align="center" style="padding: 0px 30px;
    font-size: 18px; font-weight:500; background-color:#000;" class="button button-dark" ng-disabled="myForm.$invalid" ng-click="forgot_pass()" >Submit</a></div>
        </form>
     </ion-content>
<ion-footer-bar class="custom_color_Menu">
    </ion-footer-bar>
</ion-view>