<ion-view title="MyCurrentLocation" hide-nav-bar="false" id="MyCurrentLocation">
<ion-nav-buttons side="left">
    <a ng-click = "goBack()" class="button button-icon icon ion-arrow-left-c"></a>
    </ion-nav-buttons>
    <ion-content padding="false" class="manual-ios-statusbar">

<!-- <div class="col  custom_color_Menu ">
  <img ui-sref="home" src="img/back.jpg" width="30px" height="30px" style="margin-bottom:-9px;margin-left:10px;"><span style="margin-left:10px;">My Current Location</span>
  </div> -->
<div id="map" data-tap-disabled="true"></div>
     </ion-content>
<ion-footer-bar class="custom_color_Menu">
    </ion-footer-bar>
</ion-view>

<!-- 870014 -->