<ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Shuttle Service" icon="bus" ui-sref="c_tabs.ss_c_reports">
          <ion-nav-view name="ss-c_tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Escort Service" icon="guard" ui-sref="c_tabs.ks_c_reports">
          <ion-nav-view name="ks-c_tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Incident Report" icon="incident" ui-sref="c_tabs.ic_c_reports">
          <ion-nav-view name="ic-c_tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>