<ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Shuttle Service" icon="bus" ui-sref="tabs.ss_history">
          <ion-nav-view name="ss-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Escort Service" icon="guard" ui-sref="tabs.ks_history">
          <ion-nav-view name="ks-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Incident Report" icon="incident" ui-sref="tabs.ic_history">
          <ion-nav-view name="ic-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>